---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Comida casera",
    description:
      "Disfruta de nuestras raciones de comida casera, preparadas cada día y recetas tradicionales.",
    icon: "bx:bx-fork",
  },
  {
    title: "La mejor cerveza",
    description:
      "Saborea una refrescante Cerveza Mahou, perfecta para acompañar cualquier plato.",
    icon: "bx:bxs-beer",
  },
  {
    title: "Como en casa",
    description:
      "Ven y comparte momentos inolvidables con la mejor compañía en un lugar acogedor y un ambiente familiar.",
    icon: "bx:bxs-home",
  },
  {
    title: "Terraza en verano",
    description:
      "Disfruta del buen tiempo en nuestra acogedora terraza de verano, el lugar perfecto para relajarse.",
    icon: "bx:bx-chair",
  },
  {
    title: "De Martes a Domingo",
    description:
      "Te esperamos de martes a domingo para que disfrutes de nuestra deliciosa gastronomía.",
    icon: "bx:bxs-calendar",
  },
  {
    title: "Premiados",
    description:
      "Orgullosamente reconocidos en la guía Soletes de Repsol por nuestra excelente calidad.",
    icon: "bx:bxs-trophy",
  },
];
---

<div id="about" class="mt-16">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Con vosotros desde 1969
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Un trato familiar y cocina tradicional acompañada de la mejor cerveza en la zona de tapas de la ciudad de Salamanca.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
