<footer class="mx-auto bg-black w-full max-w-container px-4 sm:px-6 lg:px-8">
  <div class="border-t border-slate-900/5 py-10">
    <p class="mt-5 text-center text-sm leading-6 text-slate-200">
          Copyright © {new Date().getFullYear()} Café Chinitas. Todos los derechos reservados.
    </p>
    <div class="mt-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-400">
      <!-- <a href="/privacy-policy">Política de privacidad</a> -->
    </div>
  </div>
</footer>
